<form (ngSubmit)="onSubmit()" #userForm="ngForm" class="form-signin text-center">
    <div class="container">
        <div class = "row">
            <div class="col align-self-center">
                <img class="mb-4" src="../../assets/img/Logo.png" alt="" width="72" height="72">
                <!-- <img class="mb-4" src="../../assets/img/Logo.png" alt="" width="72" height="72"> -->
            </div>
        </div>
        <div class = "row">
            <div class="col align-self-center">
                <h1>Sign up</h1>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-6 align-self-center">
                <label for="firstName" class="sr-only">First name</label>
                <input  [(ngModel)]="user.firstName" 
                class="form-control"
                id="firstName"
                name="firstName"
                placeholder="First name"
                required #name="ngModel" required autofocus>
            </div>
            <div class = "col-6 align-self-center">
                <label for="lastName" class="sr-only">Last name</label>
                <input  [(ngModel)]="user.lastName" 
                class="form-control"
                id="lastName"
                name="lastName"
                placeholder="Last name"
                required #name="ngModel" required autofocus>
            </div>
        </div>
        <div class = "row">
            <div class = "col-12 align-self-center">
                <label for="username" class="sr-only">Username</label>
                <input type="text" [(ngModel)]="user.username" 
                class="form-control"
                id="username"
                name="username"
                placeholder="Username"
                required autofocus #name="ngModel">
                <div class="errorCode" *ngIf="user.username.length < 5 && user.username != ''">
                    *Username must have more than 4 letters
                </div>
            </div>
        </div>
        <div class = "row">
            <div class = "col-12 align-self-center">
                <div class ="email">
                    <label for="email" class="sr-only">email</label>
                    <input type="text" [(ngModel)]="user.email" 
                    class="form-control"
                    id="email"
                    name="email"
                    placeholder="Email"
                    required autofocus #email="ngModel">
                </div>
            </div>
        </div>
        <div class = "row">
            <div class = "col-12 align-self-center">
                <label for="password" class="sr-only">Password</label>
                <input type="password" [(ngModel)]="user.password" 
                class="form-control"
                id="password"
                name="password"
                placeholder="Password"
                required autofocus #name="ngModel">
                <div class="errorCode" *ngIf="user.password.length < 5 && user.password != ''">
                    *Password must have more than 4 letters
                </div>
            </div>
        </div>
        <div class = "row">
            <div class = "col-12 align-self-center">
                <label for="passwordConfirmation" class="sr-only">Password</label>
                <input type="password" [(ngModel)]="user.passwordConfirmation" 
                class="form-control"
                id="passwordConfirmation"
                name="passwordConfirmation"
                placeholder="Password Confirmation"
                required autofocus #name="ngModel">
                <div class="errorCode" *ngIf="user.password != user.passwordConfirmation">
                    *Password does not matched
                </div>
                <div class="verificationFlag form-check">
                    <input [(ngModel)]="user.verificationFlag" type="checkbox" name="flag" class="form-check-input" id="flag">
                    <label class="form-check-label" for="flag">Act as a beneficiary (access create campaign feature)</label>
                </div>
            </div>
        </div>
        <div class="verificationPart" *ngIf="user.verificationFlag">
            <div class="row">
                <div class="col">
                    <div class="textPicture"><h5>Picture of verification</h5></div>
                    <img class="picture mb-4" src="../../assets/img/Registration/ImageVerification.png" alt="">
                    <br>
                    <img class="picture mb-4" [src]="identityURL" height="200" *ngIf="identityURL">
                    <br>
                    <input type="file" (change)="onFileChanged($event,1)">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="textPicture"><h5>Signature</h5></div>
                    <img class="picture mb-4" src="../../assets/img/Registration/Signature.png" alt="" width="426" height="353">
                    <br>
                    <img class="picture mb-4" [src]="signatureURL" height="200" *ngIf="signatureURL">
                    <br>
                    <input type="file" (change)="onFileChanged($event,2)">
                </div>
            </div>
        </div>
        <!-- <div [hidden]="!email.pristine" class="alert alert-danger">Email is required</div> -->
        <!-- <label for="inputPassword" class="sr-only">Password</label> -->
        <!-- <input type="password" id="inputPassword" class="form-control" placeholder="Password" required> -->
        <button type="submit" [disabled]="!userForm.form.valid || 
        user.password != user.passwordConfirmation || 
        user.password.length < 5 || 
        user.passwordConfirmation < 5" class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
        <h4 class="login"> Already have an account? <a href ="/sign-in">Sign in here</a></h4>
    </div>
</form>