<div class="card my-5">
    <div class="card-body">
        <table class="table table-bordered table-striped Header">
            <thead class="thead-dark">
                <tr>
                    <th scope="row" style="width:25%">Name</th>
                    <td>{{ userName}}</td>
                </tr>
                <tr>
                    <th scope="row" style="width:25%">Public key</th>
                    <td>{{ userPublicKey}}</td>
                </tr>
            </thead>
        </table>
        <hr>
        <table class="table Detail" >
            <thead class="thead-dark">
                <tr class="column">
                    <th scope="col align-center">Date and Time</th>
                    <th scope="col">Send to</th>
                    <th scope="col">Amount</th>
                    <th scope="col align-center">Transaction ID</th>
                    <th scope="col">PDF</th>
                 </tr>
            </thead>
            <tbody>
                <tr *ngFor="let transaction of transactions">
                    <td>{{ transaction.publishTime | date:'medium'}}</td>
                    <td>{{ transaction.campaignName }}</td>
                    <td>฿{{ transaction.amount }}</td>
                    <td>{{ transaction.transactionHash }}</td>
                    <td><a [routerLink]="" (click)="reportRequest(transaction.transactionId)">Request PDF</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
