<div class="container">
  <div class="row pt-5">
    <div class="col-md-8 bg-light">
      <form [formGroup]="editorForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="editor"><h3>Story</h3></label>

          <quill-editor id="discipline-qe" (onContentChanged)="textChanged($event)" [style]="editorStyle" [modules]="config" formControlName="editor"></quill-editor>
        </div>
        <button class="btn btn-primary mt-5">Submit</button>
      </form>
    </div>
    <div class="col-md-4 bg-light p-4">
      <h3>Output</h3>
      <p class="my-5" [innerHTML]="editorContent"></p>
    </div>
  </div>


  
</div>