
<!-- <form [formGroup]="signinForm" class="form-signin text-center">
    <div class="container">

        <img class="mb-4" src="../../assets/img/Logo.png" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Sign in</h1>
        <label for="inputUsername" class="sr-only">Username</label>
        <input type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <button (click)="submit()" [disabled]="signinForm.invalid" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </div>
</form> -->

<div class="container">
  <form (ngSubmit)="checkLogin()" #userForm="ngForm" class="form-signin text-center">
    <div>
      User Name : <input type="text" name="username" [(ngModel)]="user.username">
      Password : <input type="password" name="password" [(ngModel)]="user.password">
    </div>
    <a class="nav-link click" routerLink="/sign-up">Sign up</a>
    <button type="submit" class="btn btn-success">
      Login
    </button>
  </form>
  </div>