<!-- <div class="container">
  <form (ngSubmit)="checkLogin()" #userForm="ngForm" class="form-signin text-center">
    <div>
      User Name : <input type="text" name="username" [(ngModel)]="user.username">
      Password : <input type="password" name="password" [(ngModel)]="user.password">
    </div>
    <a class="nav-link click" routerLink="/sign-up">Sign up</a>
    <button type="submit" class="btn btn-success">
      Login
    </button>
  </form>
  </div> -->

  <form (ngSubmit)="checkLogin()" #userForm="ngForm" class="form-signin text-center">
    <div class="container">
        <div class = "row">
            <div class="col align-self-center">
                <img class="mb-4" src="../../assets/img/Logo.png" alt="" width="72" height="72">
                <!-- <img class="mb-4" src="../../assets/img/Logo.png" alt="" width="72" height="72"> -->
            </div>
        </div>
        <div class = "row">
            <div class="col align-self-center">
                <h1 class="h3 mb-3 font-weight-normal">Sign in</h1>
            </div>
        </div>
        <hr>
        <div class = "row">
            <div class = "col-12 align-self-center">
                <label for="username" class="sr-only">Username</label>
                <input type="text" [(ngModel)]="user.username"
                class="form-control" 
                name="username"
                placeholder="Username"
                required autofocus #email="ngModel">
            </div>
        </div>
        
        <div class = "row">
            <div class = "col-12 align-self-center">
                <label for="password" class="sr-only">Password</label>
                <input type="password" [(ngModel)]="user.password" 
                class="form-control"
                name="password"
                placeholder="Password"
                required autofocus #email="ngModel">
            </div>
        </div>
        <!-- <div [hidden]="!email.pristine" class="alert alert-danger">Email is required</div> -->
        <!-- <label for="inputPassword" class="sr-only">Password</label> -->
        <!-- <input type="password" id="inputPassword" class="form-control" placeholder="Password" required> -->
        <button type="submit" class="btn btn-lg btn-primary btn-block" [disabled]="!userForm.form.valid" >Sign in</button>
        <p><a style= "float: right; margin-top: 7px;"href="/sign-up">Need an Account?</a></p>
        <div class="alert alert-danger" *ngIf="invalidLogin" style="width: 100%;">
            Please check your username or password
        </div>
    </div>
</form>

  