<form (ngSubmit)="checkLogin()" #userForm="ngForm" class="form-signin text-center">
    <div class="container">
        <div class = "row">
            <div class="col align-self-center">
                <img class="mb-4" src="../../assets/img/Logo.png" alt="" width="72" height="72">
                <!-- <img class="mb-4" src="../../assets/img/Logo.png" alt="" width="72" height="72"> -->
            </div>
        </div>
        <div class = "row">
            <div class="col align-self-center">
                <h1 class="h3 mb-3 font-weight-normal">Sign in</h1>
            </div>
        </div>
        <hr>
        <div class = "row">
            <div class = "col-12 align-self-center">
                <label for="username" class="sr-only">Username</label>
                <input type="text" [(ngModel)]="user.username"
                class="form-control" 
                name="username"
                placeholder="Username"
                required autofocus #email="ngModel">
            </div>
        </div>
        
        <div class = "row">
            <div class = "col-12 align-self-center">
                <label for="password" class="sr-only">Password</label>
                <input type="password" 
                [(ngModel)]="user.password" 
                class="form-control"
                name="password"
                placeholder="Password"
                required autofocus #email="ngModel">
            </div>
        </div>
        <!-- <div [hidden]="!email.pristine" class="alert alert-danger">Email is required</div> -->
        <!-- <label for="inputPassword" class="sr-only">Password</label> -->
        <!-- <input type="password" id="inputPassword" class="form-control" placeholder="Password" required> -->
        <button type="submit" class="btn btn-lg btn-primary btn-block" [disabled]="!userForm.form.valid" >Sign in</button>
        <div *ngIf="invalidLogin" style="width: 100%;">
            <p style="margin-top: 5px;text-align: left;color:red;margin-bottom: 3px;">*Please check your username or password</p>
        </div>
        <p>
            <a style= "float: left; margin-top: 5px;" href="/recover-account">Forgot Password?</a>
            <a style= "float: right; margin-top: 5px;"href="/sign-up">Need an Account?</a>
        </p>
    </div>
</form>

<!-- <ng-template #mymodal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" style="text-align: center;" id="modal-basic-title">Account recovery</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
        <h5 style="text-align: center;margin-bottom: 10px;" >Recover your Password</h5>
        <form (ngSubmit)="recoverPassword()" #recoverPasswordForm="ngForm">
            <div class="form-group">
                <input type="password" [(ngModel)]="recoverEmail" 
                class="form-control"
                name="recoverEmail"
                placeholder="Enter your Email"
                required autofocus #email="ngModel">
              </div>
            <button type="submit" class="btn btn-lg btn-primary btn-block" [disabled]="!recoverPasswordForm.form.valid" >Next</button>
        </form>
    </div>
  </ng-template> -->

  