.container {
    max-width: 960px;
  padding: 64px 32px;
  }
  
  .border-top { border-top: 1px solid #e5e5e5; }
  .border-bottom { border-bottom: 1px solid #e5e5e5; }
  .border-top-gray { border-top-color: #adb5bd; }
  
  .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
  
  .lh-condensed { line-height: 1.25; }
  
  #discipline-qe /deep/ .ql-container{
    height: 300px;
  }
  /* .picture
  {
    margin-top:50px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
  }
  .userProfile
  {
    margin: auto;
    text-align: center;
  }
  .userProfile input
  {
    position: relative; 
    left: 50px 
   } */
  .btn 
  {
    margin-top: 40px;
  }
  .btn-activate
  {
    margin-top: 40px;
    background-color: green;
    border-color: green;
  }