<div class="col-md-12 order-md-1 container">
    <h4 class="mb-3">Edit Profile</h4>
    <hr>

    <form [formGroup]="editorForm" (ngSubmit)="ngOnSubmit()" #stepOneForm="ngForm" class="editForm"  novalidate>
      

      <div class="mb-3 form-group">
        
        <label class="control-label" for="targetDonation">First Name</label>  
        <div class="input-group">
            <input  [(ngModel)]="user.firstName" 
            class="form-control"
            id="firstName"
            name="firstName"
            #name="ngModel"
            autofocus>
        </div>
      </div>

      <div class="mb-3 form-group">
        <label class="control-label" for="campaignName">Last Name</label>  
        <input  [(ngModel)]="user.lastName" 
        class="form-control"
        id="lastName"
        name="lastName"
        #name="ngModel"
        autofocus>
      </div>
    </form>
</div>