<div class="container">
    <div class="card my-5">
        <div class="card-body">
          <h3>Name : {{user.firstName}} {{user.lastName}}</h3>
          <h4>Identity Image</h4>
          <img class="picture mb-4 center"  src="{{user.routeImageVerification}}"><br>
          <h4>Signature Image</h4>
          <img class="picture mb-4 center"  src="{{user.routeSignatureImage}}"><br>
          <button style="margin:5px;background-color: green;border-color: green;" 
          class = "btn btn-primary" (click)="approve(user.id)">APPROVE</button>
          <button style="margin:5px;background-color: red;border-color:red" 
          class = "btn btn-primary" (click)="decline(user.id)">DECLINE</button>
        </div>
    </div>
</div>
