
<div class="col-md-12 order-md-1 container">
    <h4 class="mb-3">Create Campaign</h4>
    <hr>

    <form [formGroup]="formTemplate" (ngSubmit)="ngOnSubmit(formTemplate.value)" class="editForm">
      
      <!-- Campaign's target donation Section -->
      <div class="mb-3 form-group">
        <label class="control-label" for="targetDonation">Goal</label>  
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">฿</span>
          </div>
          <input type="number" 
          class="form-control" 
          formControlName="targetDonation"
          required name="targetDonation" 
          placeholder="Baht" 
          required>
          <div class="alert alert-danger" *ngIf="isSubmitted && formControls.targetDonation.errors?.required" style="width: 100%;">
            Your goal is required.
          </div>
        </div>
      </div>
      <!-- Campaign's title Section -->
      <div class="mb-3 form-group">
        <label class="control-label" for="campaignName">Title</label>  
        <input class="form-control" 
        formControlName="campaignName"
        required 
        name="campaignName" 
        type="text" 
        placeholder="Title" 
        >
        <div class="alert alert-danger" *ngIf="isSubmitted && formControls.campaignName.errors?.required" style="width: 100%;">
          Please enter a campaign title.
        </div>
      </div>

      <div class="row">
        <!-- Campaign's category Section -->
        <div class="col-md-6 mb-3 form-group">
          <label for="category">Campaign Category</label>
          <select class="custom-select form-control d-block w-100" 
          formControlName="category"
          id="category" 
          required 
          name="category" 
          type="text" 
          required>
            <option value="">Choose...</option>
            <option>Education</option>
            <option>Animals</option>
            <option>Human rights</option>
            <option>Medical</option>
            <option>Charity</option>
          </select>
          <div class="alert alert-danger" *ngIf="isSubmitted && formControls.category.errors?.required" style="width: 100%;">
            Please choose category.
          </div>
        </div>
        <!-- Campaign's individual or organiztion? Section -->
        <div class="col-md-6 mb-3 form-group">
          <label for="fundRaisingAs">Fundraising as who</label>
          <select class="custom-select d-block w-100" 
          formControlName="fundRaisingAs"
          id="fundRaisingAs" 
          required name="fundRaisingAs" 
          type="text" 
          required>
            <option value="">Choose...</option>
            <option>Individual</option>
            <option>Organization</option>
          </select>
          <div class="alert alert-danger" *ngIf="isSubmitted && formControls.fundRaisingAs.errors?.required" style="width: 100%;">
            Please choose who you are fundraising as.
          </div>
        </div>
      </div>
      <!-- Campaign's upload cover image Section -->
      <div class="mb-3 form-group">
        <h3>Cover Image Uploading</h3>
        <div>
            <input type="file"
            formControlName="imageUrl"
            (change)="onFileChanged($event)">
            <img [src]="imageUrl" height="200" *ngIf="imageUrl">
        </div>
        <div class="alert alert-danger" *ngIf="isSubmitted && formControls.imageUrl.errors?.required" style="width: 100%;">
          Please choose a cover image.
        </div>
        <hr />
      </div>
      <!-- Campaign's quilljs editor Section -->
      <div class="mb-3 form-group">
        <div class="row pt-5">
          <div class="col-md-12 bg-light">
            <label for="editor"><h3>Story</h3></label>
            <quill-editor id="discipline-qe" 
            [style]="editorStyle" 
            [modules]="config" 
            formControlName="editor">
            </quill-editor>
          </div>
        </div>
        <div class="alert alert-danger" *ngIf="isSubmitted && formControls.editor.errors?.required" style="width: 100%;">
          Please enter story.
        </div>
      </div>
      <!-- <button class="btn btn-primary mt-5" (click)="submitEditor()">Submit</button> -->
      <!-- <pre>{{ campaignModel | json }}</pre> -->



      <div class="form-group text-center">
        <button type="submit" class="btn btn-primary btn-lg btn-block" (click)="submitEditor()" >Submit</button>
      </div>
      <div class="alert alert-success" *ngIf="isSubmitted == false" style="width: 100%;">
        Successfully Created
      </div>
    </form>
    
</div>
<!-- <form #personalForm="ngForm" class="editForm" novalidate>
  <div class="tab-pane fade in active">
      <h4 class="head text-center">{{title}}</h4>
      <br/>
      <div class='row'>
          <div class='col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8'>
              <div class="row">
                  <div class='col-xs-12 col-sm-6'>
                      <div class="form-group">
                          <label class="control-label" for="firstname">First Name</label>  
                          <input class="form-control input-md" #firstname="ngModel" required name="firstname" type="text" placeholder="First Name" [(ngModel)]="personal.firstName">   
                          <div class="alert alert-danger" [hidden]="firstname.valid">First Name is required</div>
                      </div>
                  </div>
                  <div class='col-xs-12 col-sm-6'>
                      <div class="form-group">
                          <label class="control-label" for="lastname">Last Name</label>  
                          <input class="form-control input-md" #lastname="ngModel" required name="lastname" type="text" placeholder="Last Name" [(ngModel)]="personal.lastName">
                          <div class="alert alert-danger" [hidden]="lastname.valid">Last Name is required</div>
                      </div>
                  </div>
              </div>
              <div class="form-group">
                  <label class="control-label" for="email">Email</label>
                  <input class="form-control input-md" #email="ngModel" required pattern="^[^\s@]+@[^\s@]+\.[^\s@]{2,}$" name="email" type="text" placeholder="Email" [(ngModel)]="personal.email">
                  <div class="alert alert-danger" [hidden]="email.valid">Email is required and must be valid</div>
              </div>
                  
              <div class="form-group text-center">
                  <button class="btn btn-success btn-outline-rounded btn-info" [disabled]="!personalForm.valid" (click)="goToNext(personalForm)"> Next <span style="margin-left:10px;" class="glyphicon glyphicon-arrow-right"></span></button>
              </div>
          </div>
      </div>
  </div>
</form> -->

