<!-- Page Content -->
<div class="container">
  <h3 style="padding-top: 30px; font-weight:lighter;">Manage Campaign</h3>
    <hr>
  <div class="row">
    <!-- Title -->
    
    <h1 class="mt-4" style="margin-bottom: 40px; padding-left: 15px;">{{campaignData.campaignName}}</h1>
  </div>
    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">
        <!-- Preview Image -->
        <img class="img-fluid rounded" [src]="campaignData.coverImagePath" alt="">
        <!-- Author -->
        <p class="lead" style="margin-top: 16px;">
          by {{userData.firstName}} {{userData.lastName}}
        </p>
        <hr>
        <!-- Date/Time -->
        <p>Created: {{campaignData.startDate | date}}  |  Category: {{campaignData.category}}</p>
        <hr>
          

        <!-- Post Content -->
        <div style="text-align: center;">
          <button type="button" class="btn btn-secondary  btn-block" (click) ="navigateToEditCampaign('manage-campaigns', campaignData.campaignId,'edit-campaign')" >Edit</button>
          <button type="button" class="btn btn-secondary  btn-block" (click) ="navigateToUpdateCampaign('manage-campaigns', campaignData.campaignId,'update-campaign')" >Posting Updates</button>
          <button type="button" class="btn btn-secondary  btn-block" (click) ="navigateToPreviewCampaign('manage-campaigns', campaignData.campaignId,'view-preview-campaign')">View Preview</button>
          <button type="button" class="btn btn-outline-info  btn-block" (click)="showThis = false">View Comments</button>
          <button type="button" class="btn btn-outline-info  btn-block" (click)="showThis = true" >View Updates</button>
        </div>
        <hr>
        <div [hidden]="showThis">
          <app-view-campaign-comment></app-view-campaign-comment>
        </div>
        <div [hidden]="!showThis">
          <app-view-campaign-update></app-view-campaign-update>
        </div>
      </div>

      <!-- Sidebar Widgets Column -->
    <div class="col-lg-4">
      <!-- Side Widget -->
      <div class="card lg-4">
        <h5 class="card-header">฿{{totalDonate}} raised of ฿{{campaignData.targetDonation}} goal</h5>
        <div class="card-body">
            <div class="first">
              <div [ngStyle]="{'width.%':width}" class="second"></div>
            </div>

        </div>
      </div>
      <div class="donateBtn">
        <button type="button" class="btn btn-danger" (click) ="navigateToManage('manage-campaigns');">Deactivate this campaign</button>
      </div>
    </div>
    </div>
</div>