<!-- Page Content -->
<div class="container">

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Title -->
        <h1 class="mt-4">{{campaignData.campaignName}}</h1>

        <!-- Author -->
        <p class="lead">
          by {{userData.firstName}} {{userData.lastName}}
          <!-- <a href="#">{{campaignData.user.firstName}}</a> -->
        </p>

        <hr>

        <!-- Date/Time -->
        <p>Posted on February 20, 2020 at 16:11 PM</p>

        <hr>

        <!-- Preview Image -->
        <img class="img-fluid rounded" [src]="campaignData.coverImagePath" alt="">
        <br>
        <button type="button" class="btn btn-primary" (click) ="navigateToEditCampaign('manage-campaigns', campaignData.id,'edit-campaign')" >Edit</button>
        <button type="button" class="btn btn-primary" (click) ="navigateToUpdateCampaign('manage-campaigns', campaignData.id,'update-campaign')" >Update</button>
        <button type="button" class="btn btn-primary" >View Preview</button>

        <hr>

        <!-- Post Content -->
        <button type="button" class="btn btn-primary" (click)="showThis = false">View Comments</button>
        <button type="button" class="btn btn-primary" (click)="showThis = true" >View Updates</button>
        <hr>
        <div class="" [hidden]="showThis">
          <app-view-campaign-comment></app-view-campaign-comment>
        </div>
        <div class="" [hidden]="!showThis">
          <app-view-campaign-update></app-view-campaign-update>
        </div>
      </div>