.btn
{
    margin-top: 10px;
}
/* .amount
{
    padding-top: 50px;
} */
.container
{
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    width : 40%;
    padding: 0%;
}
.container img
{
    width:90%;
    display:block;
    margin:auto;
    margin-top: 1%;
    margin-bottom: 1%;
}