<div class="col-md-12 order-md-1 container">
  <button type="button" class="btn btn-secondary" style="margin-bottom: 24px" (click)="navigateToManage()">&laquo; Go back to Manage Campaign</button>

    <h4 class="mb-3">Update Campaign</h4>
    <form [formGroup]="formTemplate" (ngSubmit)="ngOnSubmit(formTemplate.value)" class="editForm">
      <hr>
      <!-- Campaign's quilljs editor Section -->
      <div class="mb-3 form-group">
        <div class="row pt-5">
          <div class="col-md-12 bg-light">
            <label for="editor"><h3>Update</h3></label>
            <quill-editor id="discipline-qe"
            [style]="editorStyle" 
            (onEditorCreated)="submitEditor($event)"
            [modules]="config" 
            trackChanges="all"
            formControlName="editor">
            </quill-editor>
          </div>
          <!-- <div class="col-md-4 bg-light p-4">
            <h3>Output</h3>
            <p class="my-5" [innerHTML]="editorContent"></p>
          </div> -->
        </div>
        <div class="alert alert-danger" *ngIf="isSubmitted && formControls.editor.errors?.required" style="width: 100%;">
          Please enter story.
        </div>
        <div class="alert alert-success" *ngIf="isSubmitted == false" style="width: 100%;">
          Successfully Updated
        </div>
      </div>
      <!-- Submit button -->
      <div class="form-group text-center" >
        <button type="submit" class="btn btn-primary btn-lg btn-block" (click)="open(mymodal)" >Submit</button>
      </div>
      <!-- For successful popup -->
    <ng-template #mymodal let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Update Campaign</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        Successful
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
      </div>
    </ng-template>
    </form>
    
  </div>
  
  