

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <img class="center" id="logo2" src="../../assets/img/logo2.png">
        <p class="text-center" id="homeQuote">Donation Platform Based On Blockchain Technology</p>

        <p class="text-center text-muted " id="homeQuote2">Immutable record of transaction and secure donation</p>
      </div>
    </div>

    <div class="container-fluid px-0" id="setFullImage">
      <img id="homepageImage" src="../../assets/img/homepage image.png">
      <div class="content">
        <div class="text-center" id="centerHorizontalVertical">
          <h1 style="color: #007bff;">Donating to the people in need</h1>
          <p>"Tomorrow is in our hand"</p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">See campaigns &raquo;</a></p>
        </div>
      </div>
    </div>

    <div class="container" id="space">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>
  
      <hr>
  
    </div>
    <!-- /container -->
