/* .header {
    margin: 10px;
    background-color: #1A1A1A ;
}

#logo {
    width: 25px;
    height: 30px;
    margin-bottom: 12px;
    margin-left: 5px;
}
h4 {
    display: inline-block;
}

li {
    display: inline-block;

}
li a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

.dude {
    align-content: end;
    display: inline-block;
    left: 100px;
}

span {
    margin: 5px;
} */