.tableHeader
{
    width: 50%;
    margin: auto;
    border-width: 5px;
}
.tableDetail
{
    width : 80%;
    margin: auto;
    margin-bottom: 15px;
}
.inactivateButton
{
    border-color: black;
    background-color: red;
    margin: auto;
}