<div class="container">
    <h3> Verification </h3>
    <hr>
    <div class="row">
        <div class="col">
            <div class="textPicture"><h5>Picture of verification</h5></div>
            <img class="picture mb-4" src="../../assets/img/Registration/ImageVerification.png" alt="">
            <br>
            <img class="picture mb-4" [src]="identityURL" height="200" *ngIf="identityURL">
            <br>
            <input type="file" (change)="onImageChanged($event,1)">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="textPicture"><h5>Signature</h5></div>
            <img class="picture mb-4" src="../../assets/img/Registration/Signature.png" alt="" width="426" height="353">
            <br>
            <img class="picture mb-4" [src]="signatureURL" height="200" *ngIf="signatureURL">
            <br>
            <input type="file" (change)="onImageChanged($event,2)">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class = "btn btn-lg btn-success center" style="width: 50%;"(click)="verify()">SEND</button>
        </div>
    </div>
</div>